{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ventes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <div class="btn-group me-2">
        <button href="#addProductModal" type="button" class="btn btn-info" data-bs-toggle="modal">Ajouter un produit</button>
      </div> -->
      <div class="btn-group me-2">
        <a href="{% url 'create-invoice' %}"><button type="button" class="btn btn-secondary">Créer une nouvelle facture</button></a>
      </div>
      
    </div>
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  {% if products|length > 0 %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>

          <th>Titre</th>
          <th>Description</th>
          <th>Quantité</th>
          <th>Prix</th>

        </tr>
      </thead>
      <tbody>

        {% for product in products %}
      <tr>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.currency}} {{product.price}}</td>

      </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-3">
      <h5>Créer d'abord une facture avant de voir les produits listés ici.</h5>
    </div>
    <div class="col-lg-7">
      
      <img class=img-fluid  src="{% static 'img/empty.svg' %}" alt="ingInvoice">
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  {% endif %}





   <!-- MODALS MODALS -->
    <!-- Modals Start Here -->
    <div class="modal modal-sheet py-5" tabindex="-1" id="addProductModal">
      <div class="modal-dialog">
        <div class="modal-content rounded-6 shadow">
  
          <form class="" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
   
  
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Enregistrer un produit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body py-0">
  
  
            {{prod_form.as_p}}
  
  
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Enregistrer</button>
          </div>
  
          </form>
        </div>
      </div>
    </div>



{% endblock %}