{% extends 'base.html' %}
{% load static %}



{% include 'invoice/header.html' %}

{% load crispy_forms_tags %}


{% block title %}Détails de l'Entreprise{% endblock %}


{% block content %}
    <br>
    
    
    <div class="container">
        <h3> Détails de l'Entreprise</h3>
        <div class="card">
            <div class="card-body">

                <div class="btn me-2 mb-3">
                    <button href="#addClientModal" type="button" class="btn btn-secondary" data-bs-toggle="modal">Modifier</button><br>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        
                        <h5 class="card-title">Dénomination: {{request.user.company_profile.company_name}}</h5>
                        <hr>
                        <p class="card-text"><strong>E-mail:</strong> {{request.user.company_profile.company_email}}</p>
                        <p class="card-text"><strong>Adresse physique:</strong> {{request.user.company_profile.company_address}}</p>
                        <p class="card-text"><strong>Pays:</strong> {{request.user.company_profile.company_country}}</p>
                        <br>
                        <p class="card-text"><strong>Compte bancaire et Iban:</strong> {{request.user.company_profile.company_iban}}</p>
                        <p class="card-text"><strong>Numéro d'Identification</strong> {{request.user.company_profile.company_id}}</p>
                        <br>
                        <p class="card-text"><strong>Logo:</strong><img class="" src="{{request.user.company_profile.company_logo.url}}" alt="logo" style="cursor:pointer;"/></p>
                    
                    </div>


                    <div class="col-lg-5">
                        <div class="p-5">
                            <img class="img-fluid"  src="{% static 'img/empty.svg' %}" alt="ingInvoice">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="modal modal-sheet py-10" tabindex="-1" id="addClientModal">
    <div class="modal-dialog">
        <div class="modal-content rounded-6 shadow">
            <div class="modal-header">
                <h5 class="modal-title">Modifier les informations</h5>
            </div>
            
            <div class="modal-body">
                <form enctype="multipart/form-data"  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mt-4 mb-2">Enregistrer</button>
                    
                </form>

            </div>
            
        </div>
    </div>
</div>

{% endblock %}
{% include 'invoice/footer.html' %}



