{% load static %}
{% include 'invoice/header.html' %}
{% block title %}Réinitialisation de Mot de passe {% endblock %}

{% block content %}
    <h1>Réinitialisez votre mot de passe</h1>
    
    <p>Veuillez entrer votre adresse e-mail pour obtenir un nouveau mot de passe.</p>
    {% if validlink %}
        <p>
            Veuillez entrer votre mot de passe deux fois.
        </p>
        <form method="post">
            {{ form.as_p }}
            
            {% csrf_token %}
            <p><input type="submit" value="Change My Password"></p>
        </form>
    {% else %}
        <p>
            Le lien de réinitialisation est invalide. C'est possible qu'il soit déjà utilisé. <br/>
            Veuillez demander un autre réinitialisation de mot de passe.
        </p>
    {% endif %}
    <p>
        Retour à la page de <a href="{% url 'login' %}">connexion</a>
    </p>
{% endblock %}
{% include 'invoice/footer.html' %}