{% load static %}
{% include 'invoice/header.html' %}

{% block title %}Réinitialisation Mot de passe {% endblock %}

{% block content %}
    <h1>Réinitialisez votre Mot de passe</h1>

    <p>
        Nous vous avons envoyé un email contenant les instructions de réinitialisation de mot de passe.
    </p>
    
    <p>
        Si vous n'avez reçu aucun email, veuillez vérifier si vous avez renseigné une adresse e-mail correcte.
    </p>
    <p>
        Retour à la page de <a href="{% url 'login' %}">connexion</a>
    </p>
{% endblock %}
{% include 'invoice/footer.html' %}