{% load static %} 

    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css\base.css' %}">
        {% block css %}
        {% endblock %}
    
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 2.5rem;
            }
          }
        </style>
    </head>
    
{% block content %}
    
        <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                  The best offer <br />
                  <span class="text-primary">for your business</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                  quibusdam tempora at cupiditate quis eum maiores libero
                  veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
              </div>
      
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                                       
                    <h1> Créer votre compte</h1>
                    <p>Veuillez vous enregistrer via le formulaire suivant: </p>
                    <form method="post">
                        {% csrf_token %}
                        
                        {{ user_form.as_p }}
                        {{ CompanyForm.as_p }}
                        
                        <p><input type="submit" value="Créer Mon Compte" class="btn btn-dark"></p>
                    </form>
                    
                    <p>
                        Vous avez déjà un compte. <br/>
                        Vous pouvez vous <a href="{% url 'login' %}" class="btn btn-link">connecter ici.</a>
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </section>
      <!-- Section: Design Block -->
    
    
{% endblock %}
{% include 'invoice/footer.html' %}